html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  text-decoration: none;

}

.btn {
  display: inline-block;
  border-style: solid;
  color: #fff;
  background-color: #333;
  border-color: #333;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}

.btn:hover {
  background-color: #666;
  border-color: #666;
}

.btn-subtle {
  display: inline-block;
  border-style: solid;
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}

.btn-subtle:hover {
  background-color: #666;
  border-color: #666;
}

.btn-ghost {
  display: inline-block;
  border-style: solid;
  background-color: #fff;
  border-color: #333;
  color: #333;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn-warning {
  display: inline-block;
  border-style: solid;
  color: #fff;
  background-color: #f33;
  border-color: #f33;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}

.btn-warning:hover {
  background-color: #666;
  border-color: #666;
}

.btn-small {
  display: inline-block;
  border-style: solid;
  color: #fff;
  background-color: #333;
  border-color: #333;
  font-size: .875rem;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}

.sbs {
  display: inline-block;
  border-style: solid;
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
  font-size: .875rem;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}

.gbs {
  display: inline-block;
  border-style: solid;
  background-color: #fff;
  border-color: #333;
  color: #333;
  font-size: .875rem;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}

.wbs {
  display: inline-block;
  border-style: solid;
  color: #fff;
  background-color: #f33;
  border-color: #f33;
  font-size: .875rem;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}

.btn-big {
  display: inline-block;
  border-style: solid;
  color: #fff;
  background-color: #333;
  border-color: #333;
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}

.sbb {
  display: inline-block;
  border-style: solid;
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}

.gbb {
  display: inline-block;
  border-style: solid;
  background-color: #fff;
  border-color: #333;
  color: #333;
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}

.wbb {
  display: inline-block;
  border-style: solid;
  color: #fff;
  background-color: #f33;
  border-color: #f33;
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}
